/* 일반 구조 선택자(위치기준) */

/* :first-child -> 첫번째 위치한 요소가 맞으면 선택 */

#test1 > p:first-child{
  background-color: red;
  color: white;
}

#test1 > p:last-child{
  background-color: blue;
  color: white;
}

/* :nth-child(숫자) -> n번째 위치한 요소가 맞으면 선택 */
#test1 > p:nth-child(3){
  background-color: orange;
}

/* nth-child(수열) -> 수열 번째 위치한 요소가 맞으면 선택 */

/* n : 0 이상의 양의 정수(0,1,2,3....) */
#test1 > p:nth-child(2n){
  background-color: pink;
}

/* :nth-last-child(숫자) -> 뒤에서 n번째 위치한 요소가 맞으면 서택 */
#test1 > p:nth-last-child(2n){
  font-size: 20px;
}

/* 형태 구조 선택자 */
/* :first-of-type 선택된 요소중 첫번쨰 */

#test2 > p:first-of-type{
  background-color: yellowgreen;
}

/* :last-of-type 선택된 요소중 마지막 선택 */

#test2 > p:last-of-type{
  background-color: skyblue;
}

/* :nth-of-type 선택된 요소중 n번째 선택 */
/* 2n + 1 또는 2n - 1 */
#test2 > p:nth-of-type(2n - 1){
  font-size: 20px;
  font-weight: bold;
}

/* :nth-last-of-type(숫자 또는 수열) 
  ->선택된 형제 요소 중 뒤에서 n번째 선택
*/
/* 2n + 1 또는 2n - 1 */

#test2 > p:nth-last-of-type(2){
  background-color: hotpink;
}
/* 부정 선택자 (:not) */

#test3 > li:not(:nth-child(3n)){
  background-color: pink;
}